<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    
    <script type="text/javascript" src="/assets/js/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/underscore/underscore.js"></script>
    <script type="text/javascript" src="/assets/js/hammerjs/hammer.min.js"></script>
    <script type="text/javascript" src="/assets/js/bss/bss.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/assets/js/mcbrowser.js"></script>
    {% include statusTemplate.html %}

  </body>

</html>
